@font-face {
    font-family: 'Work Sans';
    src: url(../css/fonts/Work_Sans/static/WorkSans-Regular.ttf) format('truetype')
}

html {
    overflow-x: hidden
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: transparent
}

* {
    font-family: 'Work Sans';
    font-size: 14px;
    letter-spacing: .3px;
    margin: 0;
    padding: 0;
    font-weight: 400
}

body {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative
}

.navbar-toggler {
    border: none
}

a.btn-all {
    color: #fff;
    cursor: pointer
}

a {
    color: #595148 !important;
    font-weight: 500;
}

.bg-header {
    background: transparent;
    position: fixed;
    z-index: 999;
    width: 100%
}

.newClass {
    border: none;
    box-shadow: 0 3px 6px -6px #000;
    z-index: 9999;
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0
}

.white-bg {
    background: #fff
}

button:focus, input:focus {
    outline: none !important;
    border: none
}

button a, input a {
    color: #635f5e;
    font-weight: 600
}

input:focus {
    border-color: #007251 !important;
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: none;
    box-shadow: none
}

h1, h2, h3, h4, h5, h6, p, i, b {
    color: #635f5e
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold
}

ul li {
    list-style-type: none;
    color: #635f5e
}

.schedule_btn {
    background: #db2721;
    border: none;
    color: #fff;
    font-family: 'Darker Grotesque';
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    padding: 6px 40px;
    border-radius: 26px
}

.schedule_btn a {
    color: #fff;
    text-transform: lowercase;
    cursor: pointer
}

.socail-icon-box ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0
}

.socail-icon-box ul li {
    background: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 10px
}

.socail-icon-box ul li img {
    height: 15px
}

.main_header .header_top {
    background: linear-gradient(90deg, #027151 35%, #f50582) fixed no-repeat top right;
    padding: 10px 0
}

.main_header .header_top .welcome-text ul {
    display: flex;
    align-items: center;
    margin-bottom: 0
}

.main_header .header_top .welcome-text ul li {
    color: #fff;
    margin-right: 20px
}

.main_header .header_top .welcome-text ul li img {
    margin-right: 10px
}

.main_header .navbar-nav .dropdown-menu {
    border-radius: 5px;
    box-shadow: 0 3px 6px -6px #000;
    border: none
}

.main_header .navbar-nav .dropdown-menu h6 {
    color: #000
}

.main_header .navbar-nav .dropdown-menu .dropdown-item {
    margin-top: 10px;
    color: linear-gradient(120deg, #027151 24%, #f50582);
    font-size: 16px;
    padding: 10px 20px;
    font-size: 14px
}

.main_header .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #e7ffd8
}

.main_header .header_middle .navbar-nav ul li {
    padding: 10px 15px;
    position: relative
}

.main_header .header_middle .navbar-nav ul li a {
    color: #000 !important;
    font-weight: 600
}

.main_header .header_middle .navbar-nav ul li img {
    height: 15px
}

.main_header .header_middle .desktop-display ul li {
    margin-left: 20px;
    position: relative
}

.main_header .header_middle .desktop-display ul li img {
    height: 20px
}

.main_header .header_middle .desktop-display ul li .budge {
    background: green;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -1px;
    top: -3px
}

.main_header .header_bottom .search_container .search_box {
    display: flex;
    width: 100%
}

.main_header .header_bottom .search_container .search_box .search-input {
    position: relative;
    width: calc(100% - 100px)
}

.main_header .header_bottom .search_container .search_box .search-input input {
    width: 100%;
    border: 1px solid #969595;
    padding: 10px 30px;
    padding-left: 50px
}

.main_header .header_bottom .search_container .search_box .search-input:before {
    content: '';
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 15px;
    z-index: 1;
    height: 30px;
    width: 16px;
    display: flex;
    align-items: center;
    margin: 7px
}

.main_header .header_bottom .search_container .search_box .search-btn {
    border: none;
    background: linear-gradient(120deg, #027151 24%, #f50582);
    color: white;
    padding: 8px 20px;
    width: 100px
}

.main_header .header_bottom .categori_toggle {
    color: #fff;
    margin-bottom: 0
}

.categories_menu {
    background: linear-gradient(120deg, #027151 24%, #f50582);
    padding: 13px 20px;
    color: #fff
}

.banner {
    margin-top: 30px
}

.banner .carousel-caption {
    right: 8%;
    left: 8%;
    text-align: left;
    bottom: 25%
}

.banner .carousel-caption h1 {
    color: #323232;
    font-size: 16px
}

.banner .carousel-caption h2 {
    font-weight: 400;
    line-height: 63px;
    color: #323232;
    font-size: 63px;
    margin-bottom: 24px
}

.banner .carousel-caption p {
    color: #323232;
    font-size: 24px;
    line-height: 24px
}

.banner .carousel-caption .slide-btn {
    margin-top: 40px
}

.banner .carousel-caption .slide-btn a {
    background: linear-gradient(120deg, #027151 24%, #f50582);
    color: #fff;
    padding: 15px 32px;
    border-radius: 35px
}

.border-bottom {
    border-bottom: 1px solid #e3e9ef !important
}

.section-title-content {
    padding-bottom: 15px
}

.section-title-content h2 {
    color: #323232;
    font-size: 36px;
    font-weight: 600
}

.top-categories-section {
    padding: 50px 0
}

.top-categories-section .categories_product_inner {
    overflow: hidden;
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    margin-top: 40px
}

.top-categories-section .categories_product_inner .single_categories_product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 20%;
    float: left;
    padding: 7px 10px;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    -webkit-transition: .5s;
    transition: .5s;
    position: relative;
    overflow: hidden;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 120px
}

.top-categories-section .categories_product_inner .single_categories_product .categories_product_content {
    width: 80%;
    padding: 10px
}

.top-categories-section .categories_product_inner .single_categories_product .categories_product_content h4 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 9px
}

.top-categories-section .categories_product_inner .single_categories_product .categories_product_content h4 a {
    color: #000;
    text-decoration: none;
    font-weight: 600
}

.top-categories-section .categories_product_inner .single_categories_product .categories_product_content p {
    font-size: 13px;
    line-height: 23px
}

.top-categories-section .categories_product_inner .single_categories_product .categories_product_thumb {
    width: 20%
}

.top-categories-section .categories_product_inner .single_categories_product .categories_product_thumb img {
    height: 50px
}

.categories_title .categori_toggle {
    width: 80%;
    color: #fff
}

.categories_title .img-right {
    width: 20%;
    text-align: right
}

.trending-products-section {
    padding: 0 0
}

.trending-products-section .trending-products-all {
    margin-top: 40px;
    display: flex
}

.trending-products-section .trending-products-all .trending-product-single {
    width: 25%;
    margin-right: 20px;
    border: 1px solid #e0e0e0;
    padding-top: 10px;
}

.trending-products-section .trending-products-all .trending-product-single .trending-single-img {
    position: relative
}

.trending-products-section .trending-products-all .trending-product-single .trending-single-img img {
    /*width: 100%*/
}

.trending-products-section .trending-products-all .trending-product-single .product-description {
    border: 1px solid #e3e9ef;
    padding: 15px 10px
}

.percentage-off-content {
    position: absolute;
    background: #e7ab3c;
    color: #fff;
    top: 0px;
    right: 0px;
    padding: 2px 6px;
}

.product-description p {
    font-size: 13px
}

.see-all-btn {
    border: none;
    background: linear-gradient(120deg, #027151 24%, #f50582);
    color: #fff !important;
    padding: 8px 26px
}

.see-all-btn a {
    color: #fff
}

.add-btn {
    border: none;
    color: #fff;
    width: 100%;
    background: linear-gradient(120deg, #027151 24%, #f50582);
    padding: 7px 10px;
    margin-top: 15px;
    position: relative
}

.add-btn .home-add-btn {
    position: absolute;
    right: 0;
    padding: 7px 10px;
    background: linear-gradient(120deg, #182420 24%, #f50582);
    top: 0
}

.text-green {
    color: green !important
}

.snack-store-section {
    padding: 0 0
}

.snack-store-section .border-bottom {
    margin-bottom: 40px
}

.snack-store-section h5 {
    color: #000;
    font-size: 30px;
    padding-right: 260px;
    margin-bottom: 20px
}

.snack-store-section .left-bg {
    background-image: url(../images/snack-store/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 30px
}

.snack-store-section .right-bg {
    background-image: url(../images/snack-store/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 30px
}

.fruits-section {
    padding: 40px 0
}

.fruits-section .fruits-products-all {
    margin-top: 40px;
    display: flex
}

.fruits-section .fruits-products-all .fruits-product-single {
    width: 25%;
    padding-right: 20px;
    border: 1px solid #e3e9ef;
    margin-right: 20px
}

.fruits-section .fruits-products-all .fruits-product-single .fruits-single-img {
    position: relative;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center
}

.fruits-section .fruits-products-all .fruits-product-single .fruits-single-img img {
    width: 100%
}

.fruits-section .fruits-products-all .fruits-product-single .product-description {
    padding: 15px 10px
}

.daily-staples-section {
    padding: 40px 0
}

.daily-staples-section .daily-staples-products-all {
    margin-top: 40px;
    display: flex
}

.daily-staples-section .daily-staples-products-all .daily-staples-product-single {
    width: 25%;
    border: 1px solid #e3e9ef;
    margin-right: 20px
}

.daily-staples-section .daily-staples-products-all .daily-staples-product-single .daily-staples-single-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.daily-staples-section .daily-staples-products-all .daily-staples-product-single .daily-staples-single-img img {
    width: 100%;
    object-fit: contain;
    height: 120px;
    margin-top: 30px
}

.daily-staples-section .daily-staples-products-all .daily-staples-product-single .product-description {
    padding: 15px 10px
}

.drink-and-beverage-store-section {
    padding: 40px 0
}

.drink-and-beverage-store-section .border-bottom {
    margin-bottom: 40px
}

.drink-and-beverage-store-section h5 {
    color: #000;
    font-size: 30px;
    padding-left: 200px;
    margin-bottom: 20px
}

.drink-and-beverage-store-section .left-bg {
    /*background-image: url(../images/drink-beverage/1.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 30px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.drink-and-beverage-store-section .right-bg {
    /*background-image: url(../images/drink-beverage/2.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 30px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.cleaning-staples-section {
    padding: 40px 0
}

.cleaning-staples-section .cleaning-products-all {
    margin-top: 40px;
    display: flex
}

.cleaning-staples-section .cleaning-products-all .cleaning-product-single {
    width: 20%;
    border: 1px solid #e3e9ef;
    margin-right: 20px
}

.cleaning-staples-section .cleaning-products-all .cleaning-product-single .cleaning-single-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.cleaning-staples-section .cleaning-products-all .cleaning-product-single .cleaning-single-img img {
    width: 100%;
    object-fit: contain;
    height: 120px;
    margin-top: 30px
}

.cleaning-staples-section .cleaning-products-all .cleaning-product-single .product-description {
    padding: 15px 10px
}

.beauty-and-hygiene-section {
    padding: 40px 0
}

.beauty-and-hygiene-section .beauty-and-hygiene-products-all {
    margin-top: 40px;
    display: flex
}

.beauty-and-hygiene-section .beauty-and-hygiene-products-all .beauty-and-hygiene-product-single {
    width: 25%;
    border: 1px solid #e3e9ef;
    margin-right: 20px
}

.beauty-and-hygiene-section .beauty-and-hygiene-products-all .beauty-and-hygiene-product-single .beauty-and-hygiene-single-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.beauty-and-hygiene-section .beauty-and-hygiene-products-all .beauty-and-hygiene-product-single .beauty-and-hygiene-single-img img {
    width: 100%;
    object-fit: contain;
    height: 120px;
    margin-top: 30px
}

.beauty-and-hygiene-section .beauty-and-hygiene-products-all .beauty-and-hygiene-product-single .product-description {
    padding: 15px 10px
}

.home-and-kitchen-section {
    padding: 40px 0
}

.home-and-kitchen-section .home-and-kitchen-products-all {
    margin-top: 40px;
    display: flex
}

.home-and-kitchen-section .home-and-kitchen-products-all .home-and-kitchen-product-single {
    width: 20%;
    border: 1px solid #e3e9ef;
    margin-right: 20px
}

.home-and-kitchen-section .home-and-kitchen-products-all .home-and-kitchen-product-single .home-and-kitchen-single-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.home-and-kitchen-section .home-and-kitchen-products-all .home-and-kitchen-product-single .home-and-kitchen-single-img img {
    width: 100%;
    object-fit: contain;
    height: 120px;
    margin-top: 30px
}

.home-and-kitchen-section .home-and-kitchen-products-all .home-and-kitchen-product-single .product-description {
    padding: 15px 10px
}

.about-us-ee {
    padding: 40px 0
}

.about-us-ee .content-about {
    padding: 40px 0
}

.about-us-ee .content-about .padding-about-us-right {
    padding-right: 100px
}

.about-us-ee .content-about .padding-about-us-right p {
    margin-bottom: 40px;
    line-height: 25px
}

.about-us-ee .content-about img {
    max-width: 100%;
    height: auto
}

.about-us-ee .content-about .single-histry-one {
    position: relative;
    text-align: right;
    margin-top: -15px
}

.about-us-ee .content-about .single-histry-one .store-img-two {
    position: absolute;
    top: 120px;
    left: 50px
}

.middle-banner .carousel-caption {
    text-align: center
}

.brand-store-section {
    padding: 40px 0
}

.brand-store-section .brand-store-products-all {
    margin-top: 40px;
    display: flex
}

.brand-store-section .brand-store-products-all .brand-store-product-single {
    width: 20%;
    border: 1px solid #e3e9ef;
    margin-right: 20px
}

.brand-store-section .brand-store-products-all .brand-store-product-single .brand-store-single-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.brand-store-section .brand-store-products-all .brand-store-product-single .brand-store-single-img img {
    width: 100%;
    object-fit: contain;
    height: 120px;
    margin-top: 30px
}

.footer {
    background: #000;
    padding: 30px 0
}

.footer .socail-icon-box ul {
    justify-content: flex-start
}

.footer h5 {
    margin-bottom: 30px
}

.footer h5, .footer a, .footer link, .footer p {
    color: #fff !important
}

.footer ul li {
    margin-bottom: 10px
}

.footer ul li a {
    font-weight: 400
}

.footer .footer-logo {
    margin-bottom: 20px
}

.footer .socail-icon-box ul li {
    margin-left: 0;
    margin-right: 10px
}

.footer-bottom {
    background: #5f5a5a;
    padding: 10px 0;
    color: #fff
}

.type-product {
    margin-top: 30px
}

.type-product h5 {
    font-size: 30px;
    color: #000
}

.like-content {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #e7ab3c;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.like-content img {
    height: 15px;
    width: auto !important
}

.product-list {
    padding: 40px 0
}

.product-list .all-product-list {
    display: flex
}

.product-list .all-product-list .product-single {
    /*width: 25%;*/
    width: 18%;
    border: 1px solid #e3e9ef;
    margin-right: 20px;
    margin-bottom: 30px;
    background: #fff;
    position: relative
}

.product-list .all-product-list .product-single .product-single-img {
    text-align: center
}

.product-list .all-product-list .product-single .product-single-img .percentage-off-content {
    right: initial;
    /*left: 10px*/
}

.product-list .all-product-list .product-single .product-description {
    padding: 10px 20px;
    text-align: center
}

.product-list .all-product-list .product-single .product-description p {
    margin-bottom: 5px
}

.product-list .all-product-list .product-single .bottom-product {
    display: flex;
    bottom: 0px;
    /*position: absolute;*/
    width: -webkit-fill-available;
}

.product-list .all-product-list .product-single .bottom-product .left-content, .product-list .all-product-list .product-single .bottom-product .right-content {
    width: 60%
}

.product-list .all-product-list .product-single .bottom-product .left-content {
    text-align: left;
    width: 80%;
}

.product-list .all-product-list .product-single .bottom-product .left-content .minus-btn, .product-list .all-product-list .product-single .bottom-product .left-content .plus-btn {
    border: none;
    padding: 5px 10px
}

.product-list .all-product-list .product-single .bottom-product .left-content .minus-btn {
    padding: 9.5px !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: linear-gradient(120deg, #027151 24%, #f50582)
}

.product-card-img {
    max-height: 240px;
    width: auto;
}

.product-list .all-product-list .product-single .bottom-product .left-content .plus-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(120deg, #027151 24%, #f50582)
}

.product-list .all-product-list .product-single .bottom-product .left-content .quantity {
    padding: 7px
}

.product-list .all-product-list .product-single .bottom-product .right-content {
    text-align: right;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.product-list .all-product-list .product-single .bottom-product .right-content .shopping-cart-btn {
    background: transparent;
    border: none
}

.product-list .all-product-list .product-single .bottom-product .right-content .shopping-cart-btn img {
    height: 20px;
    width: auto;
    text-align: right
}

.bg-grey {
    background: #f9f9f9;
    padding: 30px 0;
    /*margin-top: 30px*/
}

.bg-grey .arrordian-section {
    padding: 15px 0
}

.bg-grey .arrordian-section .card {
    padding: 30px 20px;
    border: none;
    cursor: pointer
}

.bg-grey .arrordian-section .card .card-head h2 {
    display: flex
}

.bg-grey .arrordian-section .card .card-head h2 .title-accordian {
    font-size: 16px;
    color: #000;
    font-weight: 900;
    display: flex;
    align-items: center
}

.bg-grey .arrordian-section .card .card-head h2 .number-content {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #fff;
    background: linear-gradient(120deg, #027151 35%, #f50582);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px
}

.bg-grey .arrordian-section .card .card-body .edit-btn-sec {
    display: flex
}

.bg-grey .arrordian-section .card .card-body .edit-btn-sec .edit-content {
    display: flex;
    align-items: center;
    color: #635f5e
}

.bg-grey .arrordian-section .card .card-body .edit-btn-sec .edit-btn {
    border: none;
    background: linear-gradient(120deg, #027151 35%, #f50582);
    color: #fff;
    padding: 2px 15px;
    border-radius: 5px;
    margin-left: 10px
}

.bg-grey .arrordian-section .card .card-body .enter-code-section {
    margin-top: 20px
}

.bg-grey .arrordian-section .card .card-body .enter-code-section .code-title {
    font-size: 12px;
    color: #6f6969;
    font-weight: 900
}

.bg-grey .arrordian-section .card .card-body .enter-code-section .enter-code-input-box input {
    border-radius: 5px;
    border: 1px solid #d5d6d8;
    width: 40px;
    padding: 5px
}

.bg-grey .arrordian-section .card .card-body .enter-code-section .enter-code-input-box .next-btn {
    border: none;
    background: linear-gradient(120deg, #027151 35%, #f50582);
    color: #fff;
    padding: 6px 12px;
    border-radius: 5px
}

.bg-grey .arrordian-section .card .card-body .enter-code-section .resend-btn {
    border: none;
    background: transparent
}

.bg-grey .arrordian-section .card .card-body .delivery-accordian {
    margin-top: 30px
}

.bg-grey .arrordian-section .card .card-body .delivery-accordian .delivery-btn-grp .delivery-grp-btn-all {
    border: none;
    background: #d5d6d8;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 40px
}

.bg-grey .arrordian-section .card .card-body .delivery-accordian .delivery-btn-grp .home-btn {
    background: linear-gradient(120deg, #027151 35%, #f50582)
}

.bg-grey .arrordian-section .card .card-body .delivery-accordian label {
    display: block;
    color: #000;
    font-weight: 900
}

.bg-grey .arrordian-section .card .card-body .delivery-accordian input {
    border: 1px solid #e3e9ef;
    width: 100%;
    padding: 7px 20px;
    border-radius: 4px;
    margin-bottom: 30px
}

.bg-grey .arrordian-section .card .card-body .delivery-accordian .input-group .input-box:first-child {
    margin-right: 10px
}

.bg-grey .arrordian-section .card .card-body .delivery-accordian .input-group .input-box {
    width: 49%
}

.bg-grey .arrordian-section .card .card-body .delivery-accordian .delivery-bottom-btn {
    display: flex
}

.bg-grey .arrordian-section .card .card-body .delivery-accordian .delivery-bottom-btn .delivery-bottom-btn-all {
    padding: 5px 24px;
    border-radius: 4px;
    border: 1px solid #007251
}

.bg-grey .arrordian-section .card .card-body .delivery-accordian .delivery-bottom-btn .left-btn, .bg-grey .arrordian-section .card .card-body .delivery-accordian .delivery-bottom-btn .right-btn {
    width: 50%
}

.bg-grey .arrordian-section .card .card-body .delivery-accordian .delivery-bottom-btn .right-btn {
    text-align: right
}

.bg-grey .arrordian-section .card .card-body .delivery-accordian .delivery-bottom-btn .save-btn {
    background: transparent;
    color: #007251
}

.bg-grey .arrordian-section .card .card-body .delivery-accordian .delivery-bottom-btn .next-btn {
    color: #fff;
    background: linear-gradient(120deg, #027151 35%, #f50582)
}

.order-summary-section .title-checkout {
    border-bottom: 1px solid #e3e9ef;
    font-size: 18px;
    font-weight: 900;
    padding: 20px;
    color: #000
}

.order-summary-section .product-description-sec {
    display: flex;
    padding: 20px;
    position: relative
}

.order-summary-section .product-description-sec .img-box {
    position: relative
}

.order-summary-section .product-description-sec .img-box img {
    border: 1px solid #e3e9ef;
    height: 90px;
    border-radius: 4px
}

.order-summary-section .product-description-sec .product-content {
    padding: 0 20px
}

.order-summary-section .product-description-sec .product-content .product-title {
    font-size: 22px;
    color: #000;
    margin-top: 5px
}

.order-summary-section .product-description-sec .close-btn {
    position: absolute;
    right: 20px;
    background: transparent;
    border: none
}

.order-summary-section .amount-description-sec {
    padding: 20px
}

.order-summary-section .amount-description-sec .amount-sec {
    display: flex;
    padding-bottom: 20px
}

.order-summary-section .amount-description-sec .amount-sec .amount-left-content, .order-summary-section .amount-description-sec .amount-sec .amount-right-content {
    width: 50%;
    color: #6f6969
}

.order-summary-section .amount-description-sec .amount-sec .amount-right-content {
    text-align: right;
    font-weight: 600
}

.order-summary-section .amount-description-sec .amount-sec .heading-bottom {
    color: #000;
    font-weight: 900
}

.secure-checkout-sec {
    padding-bottom: 20px
}

.have-a-promocode {
    padding: 20px 0;
    text-align: center
}

.have-a-promocode a {
    color: #635f5e;
    font-weight: 400
}

.order-summary-bottom-content ul li {
    display: flex;
    align-items: center
}

.order-summary-bottom-content ul li .left-bottom-content {
    width: 30px;
    text-align: center;
    padding: 20px
}

.order-summary-bottom-content ul li .left-bottom-content img {
    margin-right: 10px
}

.order-summary-bottom-content ul li .right-bottom-content {
    width: calc(100% - 20px)
}

.order-summary-bottom-content ul li:first-child {
    border-bottom: 1px solid #e3e9ef
}

.like-sec .dropdown-toggle::after, .shopping-cart-sec .dropdown-toggle::after, .profile-sec .dropdown-toggle::after, .search-sec .dropdown-toggle::after {
    display: none
}

.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
    left: initial;
    /*right: -5px*/
}

.like-sec .dropdown-menu, .shopping-cart-sec .dropdown-menu, .profile-sec .dropdown-menu, .search-sec .dropdown-menu {
    width: 300px
}

.sub-dropdown {
    padding-top: 0px
}

.like-sec .bg-primary, .shopping-cart-sec .bg-primary, .profile-sec .bg-primary {
    /*background-color: green !important*/
    background: linear-gradient(90deg, #027151 35%, #f50582) fixed no-repeat top right;
}

.profile-sec img {
    height: 40px
}

.shopping-cart-sec .iq-sub-card img, .like-sec .iq-sub-card img {
    height: 60px !important
}

.iq-sub-card {
    font-size: inherit;
    padding: 15px;
    line-height: normal;
    color: inherit;
    border-bottom: 1px solid #f3f7fd;
    display: inline-block;
    width: 100%
}

.mobile-header {
    display: none
}

.carousel-control-prev, .carousel-control-next {
    background: #342929;
    width: 40px;
    height: 40px;
    top: 50%
}

.carousel-control-prev {
    left: 2%
}

.carousel-control-next {
    right: 2%
}

.type-product .popularity-input {
    position: relative
}

.type-product .popularity-input:before {
    content: '';
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 15px;
    z-index: 1;
    height: 30px;
    width: 16px;
    display: flex;
    align-items: center;
    margin: 7px
}

.type-product .popularity-input input {
    border: 1px solid #d2d2d2;
    padding: 8px 20px;
    padding-right: 50px
}

.type-product .filter-btn {
    border: 1px solid #d2d2d2;
    padding: 8px 20px;
    background: none;
    font-weight: 800;
    margin-left: 15px
}

.payment_method-checkout {
    padding-top: 30px
}

.total-checkout-group {
    padding: 20px 20px 0;
    border-top: 1px solid #efefef;
    margin-top: 10px
}

.payment-secure {
    text-align: center;
    padding: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #2b2f4c
}

.checkout-safety-alerts {
    background: #fff;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 0 1px 2px 0 #e9e9e9
}

.checkout-safety-alerts p {
    margin-bottom: 0;
    padding: 15px;
    border-bottom: 1px solid #efefef;
    font-size: 14px;
    font-weight: 500;
    color: #3e3f5e;
    text-align: left
}

.checkout-safety-alerts p:last-child {
    border-bottom: 0
}

.checkout-safety-alerts i {
    margin-right: 5px
}

.return-departure-dts {
    color: #727272;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    margin-top: 0;
    display: none;
    margin-bottom: 25px !important
}

.single-payment-method:first-child .payment-method-details {
    display: block
}

.radio--group-inline-container_1 {
    width: 100%;
    display: block;
    margin-bottom: 22px !important
}

.radio--group-inline-container_1 li {
    display: inline-block;
    width: 33.333%;
    margin-right: 10px
}

.radio--group-inline-container_1 li:last-child {
    margin-right: 0
}

.radio--group-inline-container_1 .radio-item_1 {
    display: inline-block;
    margin-right: 10px;
    width: 100%
}

.radio--group-inline-container_1 .radio-item_1 input[type="radio"] {
    position: absolute;
    opacity: 0
}

.radio--group-inline-container_1 .radio-item_1 input[type="radio"] + .radio-label_1:before {
    content: '';
    background: #f7f7f7;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1em;
    height: 1em;
    top: 0px;
    position: relative;
    margin-right: 10px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease
}

.radio--group-inline-container_1 .radio-item_1 input[type="radio"]:checked + .radio-label_1:before {
    background-color: #007251;
    box-shadow: inset 0 0 0 2px #f4f4f4
}

.radio--group-inline-container_1 .radio-item_1 input[type="radio"]:focus + .radio-label_1:before {
    outline: none;
    border-color: #007251
}

.radio--group-inline-container_1 .radio-item_1 input[type="radio"]:disabled + .radio-label_1:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4
}

.radio--group-inline-container_1 .radio-item_1 input[type="radio"] + .radio-label:empty:before {
    margin-right: 0
}

.radio-label_1 {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 16px;
    color: #2b2f4c;
    cursor: pointer;
    padding: 15px 20px;
    background: #f9f9f9;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #efefef
}

.radio-label_1:hover {
    background: #f5f5f5;
    transition: all .4s ease-in-out
}

.pymnt_title h4 {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 15px;
    color: #2b2f4c
}

.swdh19 {
    width: 100%
}

#sync1 .owl-nav .owl-prev, .owl-carousel .owl-nav button.owl-prev {
    left: -20px;
    font-size: 20px !important;
    position: absolute;
    top: 45%;
    text-align: center;
    height: 30px !important;
    width: 30px !important;
    padding: 4px 0 !important;
    color: #fff !important;
    background: #323232 !important;
    border-radius: 0px !important;
    border: 1px solid #e5e5e5 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center
}

#sync1 .owl-nav .owl-next, .owl-carousel .owl-nav button.owl-next {
    font-size: 20px !important;
    position: absolute;
    right: -20px;
    top: 45%;
    padding: 4px 0 !important;
    text-align: center;
    height: 30px !important;
    width: 30px !important;
    color: #fff !important;
    background: #323232 !important;
    border-radius: 0px !important;
    border: 1px solid #e5e5e5 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center
}

.owl-nav .owl-prev i, .owl-nav .owl-next i {
    color: #fff
}

.product-dt-view {
    background: #fff;
    padding: 20px 30px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 #e9e9e9
}

.product-dt-right {
    margin-top: 15px;
    margin-left: 20px
}

.no-stock {
    display: block
}

.no-stock p {
    display: inline-block;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #2b2f4c
}

.no-stock p:last-child {
    margin-right: 0
}

.no-stock p span {
    margin-left: 5px;
    color: #8f91ac
}

.product-radio {
    margin-top: 7px
}

.product-now {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.product-now li {
    margin-right: 5px;
    width: 60px;
    height: 36px;
    position: relative;
    text-align: center;
    display: inline-block
}

.product-now label {
    padding: 5px;
    cursor: pointer;
    background: #d5d6d8;
    color: #767676;
    border-radius: 1px;
    font-weight: 600;
    font-size: 12px
}

.product-now label, .product-now input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.pp-descp {
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #3e3f5e;
    font-weight: 400;
    font-size: 14px;
    text-align: left
}

.product-group-dt {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 5px
}

.product-group-dt ul li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle
}

.color-discount {
    color: #7c72ff
}

.main-price {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: #1c640d
}

.main-price span {
    font-size: 18px;
    margin-left: 10px
}

/*.color-discount:after {
    content: '-';
    margin-left: 20px;
    color: #2b2f4c
}*/

.mrp-price {
    text-decoration: line-through;
    font-weight: 500
}

.gty-wish-share {
    margin-top: 22px
}

.product-group-dt ul li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle
}

.gty-wish-share li {
    margin-right: 10px !important
}

.quantity {
    display: inline-block
}

.quantity .input-text.qty {
    width: 35px;
    height: 30px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 0;
    margin-left: -4px;
    margin-right: -4px;
    background: #fff;
    font-size: 12px;
    font-weight: 500
}

.quantity .input-text.qty.white-bg-input {
    border: 1px solid #efefef
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none
}

.quantity.buttons_added .minus, .quantity.buttons_added .plus {
    padding: 6px 10px 5px;
    height: 30px;
    background: linear-gradient(120deg, #027151 24%, #f50582);
    border: 0;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    width: 30px
}

.quantity.buttons_added .minus-btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.quantity.buttons_added .plus-btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.quantity.buttons_added .minus {
    border-right: 0
}

.quantity.buttons_added .plus {
    border-left: 0
}

.quantity.buttons_added .minus:hover, .quantity.buttons_added .plus:hover {
    background: linear-gradient(120deg, #027151 24%, #f50582);
    color: #fff !important;
    transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    background-image: -webkit-linear-gradient(120deg, #027151 24%, #f50582);
    background-image: linear-gradient(120deg, #027151 24%, #f50582)
}

.quantity input::-webkit-outer-spin-button, .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0
}

.quantity.buttons_added .minus:focus, .quantity.buttons_added .plus:focus {
    outline: none
}

.ordr-crt-share {
    margin-top: 22px
}

.ordr-crt-share li {
    margin-right: 10px !important
}

.add-cart-btn i {
    margin-right: 5px;
    font-size: 16px;
    color: #fff
}

.add-cart-btn, .procced-payment-btn {
    background: linear-gradient(120deg, #027151 24%, #f50582);
    border: 0;
    color: #fff;
    height: 40px;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-radius: 5px
}

.order-btn {
    background: transparent;
    border: 1px solid #007251;
    color: #007251;
    height: 40px;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-radius: 5px
}

.pdp-details {
    background: #f9f9f9;
    margin-top: 20px;
    border-radius: 5px;
    float: left;
    width: 100%
}

.pdp-details ul li {
    padding: 20px;
    border-right: 1px solid #e7ab3c;
    width: 50%;
    display: inline-block;
    float: left
}

.pdp-details ul li:last-child {
    border-right: 0
}

.pdp-group-dt {
    display: flex;
    align-items: center;
    width: 100%
}

.pdp-icon i {
    font-size: 30px;
    color: #e7ab3c
}

.pdp-text-dt {
    margin-left: 10px
}

.pdp-text-dt span {
    font-size: 16px;
    font-weight: 500;
    color: #2b2f4c;
    margin-bottom: 10px;
    display: block
}

.pdp-text-dt p {
    font-size: 14px;
    font-weight: 400;
    color: #3e3f5e;
    margin-bottom: 0;
    line-height: 26px
}

.pdpt-bg {
    margin-top: 30px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 #e9e9e9
}

.pdpt-title h4 {
    border-bottom: 1px solid #efefef;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #2b2f4c
}

.cart-item {
    display: flex;
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #efefef
}

.cart-item:last-child {
    border-bottom: none
}

.cart-product-img {
    width: 130px;
    position: relative
}

.cart-product-img img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #f7f7f7
}

.offer-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    background: #e7ab3c;
    padding: 1px 10px 0px;
    border-radius: 3px;
    line-height: 20px
}

.cart-text {
    margin-left: 20px;
    width: 100%;
    position: relative
}

.cart-text h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #2b2f4c;
    text-align: left;
    margin-bottom: 10px
}

.kggrm-now {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.kggrm-now li {
    margin-right: 5px;
    width: 40px;
    height: 30px;
    position: relative;
    text-align: center;
    display: inline-block
}

.kggrm-now input[type="radio"] {
    display: none
}

.kggrm-now label, .kggrm-now input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.kggrm-now label {
    padding: 3px;
    cursor: pointer;
    background: #c7c7c7;
    color: #fff;
    border-radius: 3px;
    font-weight: 600;
    font-size: 12px
}

.cart-item-price {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #408525;
    text-align: right;
    display: inline-flex;
    margin-left: auto
}

.cart-item-price span {
    color: #c7c7c7;
    text-decoration: line-through;
    margin-left: 10px;
    font-weight: 600
}

.pdpt-body {
    height: 460px;
    overflow-y: auto
}

.pdct-dts-1 {
    padding: 0 30px 30px
}

.pdct-dt-step h4 {
    margin-top: 27px !important;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: left
}

.pdct-dt-step p {
    font-size: 14px;
    font-weight: 400;
    color: #3e3f5e;
    line-height: 26px;
    text-align: left
}

.qty-group {
    display: flex;
    align-items: center;
    margin-top: 10px
}

.scrollstyle_4::-webkit-scrollbar {
    width: 4px;
    background-color: #f1f1f1
}

body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px
}

body ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);
    -webkit-transition: color .2s ease;
    transition: color .2s ease
}

body ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0
}

.main-title-tt {
    margin-bottom: 27px;
    display: flex;
    align-items: flex-end
}

.main-title-left {
    margin-right: auto
}

.main-title-left span {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #e7ab3c;
    margin-bottom: 10px;
    display: block
}

.main-title-left h2 {
    font-size: 24px;
    font-weight: 600;
    color: #2b2f4c;
    margin-top: 0;
    display: block
}

.featured-slider .owl-nav .owl-prev {
    left: -20px;
    font-size: 20px !important;
    position: absolute;
    top: 42%;
    text-align: center;
    height: 30px !important;
    width: 30px !important;
    padding: 4px 0 !important;
    color: #2b2f4c !important;
    background: #fff !important;
    border-radius: 100% !important;
    border: 1px solid #e5e5e5 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07)
}

.featured-slider .owl-nav .owl-next {
    font-size: 20px !important;
    position: absolute;
    right: -20px;
    top: 42%;
    padding: 4px 0 !important;
    text-align: center;
    height: 30px !important;
    width: 30px !important;
    color: #2b2f4c !important;
    background: #fff !important;
    border-radius: 100% !important;
    border: 1px solid #e5e5e5 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07)
}

.featured-slider .owl-carousel .owl-item img {
    display: initial;
    width: initial
}

.pln-icon i {
    font-size: 24px;
    color: #007251
}

.order-placed-dt .icon-circle {
    font-size: 56px;
    color: #007251
}

.order-placed-dt {
    text-align: center;
    padding: 20px 0 14px;
    float: left;
    width: 100%
}

.order-placed-dt h2 {
    font-size: 30px;
    font-weight: 500;
    color: #2b2f4c;
    text-align: center;
    margin-bottom: 25px
}

.order-placed-dt p, .order-placed-dt p span {
    font-size: 16px;
    font-weight: 600;
    color: #3e3f5e;
    margin-bottom: 0;
    text-align: center;
    line-height: 24px
}

.delivery-address-bg {
    margin-top: 40px;
    background: #fff;
    border-radius: 5px;
    float: left;
    width: 100%;
    text-align: left;
    box-shadow: 0 1px 2px 0 #e9e9e9
}

.title585 {
    display: inline-block;
    float: left;
    width: 100%;
    border-bottom: 1px solid #efefef
}

.pln-icon {
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-right: 10px
}

.title585 h4 {
    float: left;
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    color: #2b2f4c;
    line-height: 50px
}

.address-placed-dt1 {
    float: left;
    padding: 20px;
    width: 100%
}

.address-placed-dt1 li {
    margin-bottom: 10px
}

.address-placed-dt1 i {
    margin-right: 5px
}

.address-placed-dt1 p {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #2b2f4c
}

.address-placed-dt1 p span {
    margin-left: 10px;
    font-weight: 400;
    color: #3e3f5e
}

.stay-invoice {
    float: left;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef
}

.st-hm {
    font-size: 16px;
    font-weight: 600;
    color: #2b2f4c
}

.invc-link {
    margin-left: auto;
    font-size: 14px;
    font-weight: 500;
    color: #fff !important;
    background: linear-gradient(120deg, #027151 24%, #f50582);
    padding: 5px 15px;
    border-radius: 5px
}

.placed-bottom-dt {
    padding: 20px;
    float: left;
    font-size: 14px;
    font-weight: 400;
    color: #3e3f5e;
    margin-bottom: 0;
    text-align: center;
    line-height: 24px;
    width: 100%
}

.placed-bottom-dt span {
    font-weight: 600;
    color: #000
}

.shop-details .all-product-list {
    display: initial
}

.shop-details .product-list .all-product-list .product-single {
    width: 100%
}

.control-label {
    font-size: 14px;
    font-weight: 600;
    color: #2b2f4c;
    margin-bottom: .8rem;
    margin-top: 2rem
}

.breadcrumb {
    background-color: #e2e2e2 !important;
    margin-bottom: 0;
    border-radius: 0;
}

.ee-breadcrumb {
    background: #e2e2e2 !important;
}

.popup-scroll {
    height: 250px;
    overflow-y: scroll
}

.popup-scroll .popup-price {
    display: flex;
    margin-top: 20px
}

.popup-scroll .popup-price .popup-price-left-content, .popup-scroll .popup-price .popup-price-right-content {
    width: 50%
}

.popup-scroll .popup-price .popup-price-right-content {
    text-align: right
}

.popup-scroll .popup-price .popup-price-right-content .edit-icon, .popup-scroll .popup-price .popup-price-right-content .delete-icon {
    background: transparent;
    border: none
}

.popup-scroll .popup-price .popup-price-right-content .edit-icon {
    margin-right: 5px
}

.popup-scroll .popup-price .popup-price-right-content img {
    height: 15px !important
}

.quantity-section {
    margin-top: 20px
}

.quantity-section span {
    border: 1px solid #f3f7fd;
    padding: 5px 14px;
    margin-left: 10px
}

.popup-bottom {
    padding: 20px
}

.mt-10 {
    margin-top: 10px
}

.mt-20 {
    margin-top: 20px
}

.mt-30 {
    margin-top: 30px
}

.mt-40 {
    margin-top: 40px
}

.mt-50 {
    margin-top: 50px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-0 {
    margin-bottom: 0px
}

.mbottom-5 {
    margin-bottom: 5px !important
}

.mr-0 {
    margin-right: 0px
}

.mr-10 {
    margin-right: 10px
}

.pr-60 {
    padding-right: 60px
}

.pr-0 {
    padding-right: 0px
}

@media (min-width: 1200px) {
    .container {
        max-width: 1181px
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .product-list .all-product-list .product-single .bottom-product .left-content .minus-btn, .product-list .all-product-list .product-single .bottom-product .left-content .plus-btn {
        padding: 5px 8px
    }
}

@media (min-width: 320px) and (max-width: 1023px) {
    .snack-store-section h5, .drink-and-beverage-store-section h5, .about-us-ee .content-about .padding-about-us-right {
        padding-right: 15px;
        padding-left: 15px
    }

    .main_header {
        display: none
    }

    .mobile-header {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 999;
        background: #fff;
        box-shadow: 0 3px 6px -6px #000
    }

    .mobile-header .right-profile-section img {
        height: 20px
    }

    .mobile-header .fixed-right-header {
        position: absolute;
        top: 0px;
        right: 40px;
        box-shadow: none
    }

    .mobile-header .navbar-nav.right-nav {
        flex-direction: row;
        align-items: center
    }

    li.nav-item.dropdown {
        margin-left: 15px
    }

    li.nav-item.dropdown p {
        white-space: normal
    }

    .shopping-cart-sec .iq-sub-card img, .like-sec .iq-sub-card img {
        height: 15px !important
    }

    .menu-item .navbar-nav .dropdown-menu {
        position: relative
    }

    .media-body {
        white-space: normal
    }

    .search-sec input {
        width: 100%;
        border: 1px solid #d2d2d2;
        padding: 8px 10px;
        margin-top: 10px
    }

    .search-sec .see-all-btn {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0
    }

    .search-sec .dropdown-menu {
        padding: 10px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .mobile-header .fixed-right-header {
        top: 25px;
        right: 40px
    }

    .banner {
        margin-top: 105px
    }

    .banner .carousel-caption {
        bottom: 10%
    }

    .top-categories-section .categories_product_inner .single_categories_product {
        width: 50%
    }

    .trending-products-section .trending-products-all, .fruits-section .fruits-products-all, .daily-staples-section .daily-staples-products-all, .beauty-and-hygiene-section .beauty-and-hygiene-products-all, .cleaning-staples-section .cleaning-products-all, .home-and-kitchen-section .home-and-kitchen-products-all, .product-list .all-product-list {
        flex-wrap: wrap
    }

    .trending-products-section .trending-products-all .trending-product-single, .fruits-section .fruits-products-all .fruits-product-single, .daily-staples-section .daily-staples-products-all .daily-staples-product-single, .beauty-and-hygiene-section .beauty-and-hygiene-products-all .beauty-and-hygiene-product-single, .product-list .all-product-list .product-single {
        width: 47%;
        margin-bottom: 20px
    }

    .cleaning-staples-section .cleaning-products-all .cleaning-product-single, .home-and-kitchen-section .home-and-kitchen-products-all .home-and-kitchen-product-single {
        width: 30%;
        margin-bottom: 20px
    }

    .fruits-section .fruits-products-all .fruits-product-single .fruits-single-img {
        height: 340px
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    #mega-menu {
        display: none
    }

    .calendar-nav .left-btn {
        left: 0% !important
    }

    .calendar-nav .right-btn {
        right: 0% !important
    }

    .radio--group-inline-container_1 li {
        width: 100%;
        margin-right: 0px
    }

    .main-title-left {
        margin-bottom: 20px
    }

    .product-dt-right {
        margin-left: 0px;
        padding: 10px
    }

    .bg-grey .arrordian-section .card .card-body .delivery-accordian .input-group .input-box {
        width: 100%
    }

    .main-title-tt {
        display: block
    }

    .see-all-btn {
        padding: 8px 10px;
        font-size: 12px
    }

    .product-dt-view {
        padding-left: 0px;
        padding-right: 0px
    }

    .pdp-details ul li {
        width: 100%;
        border-right: none
    }

    .home-and-kitchen-section .home-and-kitchen-products-all .home-and-kitchen-product-single .home-and-kitchen-single-img, .home-and-kitchen-section .home-and-kitchen-products-all, .beauty-and-hygiene-section .beauty-and-hygiene-products-all, .cleaning-staples-section .cleaning-products-all, .daily-staples-section .daily-staples-products-all, .fruits-section .fruits-products-all, .trending-products-section .trending-products-all, .brand-store-section .brand-store-products-all, .all-product-list {
        display: block !important
    }

    .home-and-kitchen-section .home-and-kitchen-products-all .home-and-kitchen-product-single, .beauty-and-hygiene-section .beauty-and-hygiene-products-all .beauty-and-hygiene-product-single, .cleaning-staples-section .cleaning-products-all .cleaning-product-single, .daily-staples-section .daily-staples-products-all .daily-staples-product-single, .fruits-section .fruits-products-all .fruits-product-single, .trending-products-section .trending-products-all .trending-product-single, .top-categories-section .categories_product_inner .single_categories_product, .brand-store-section .brand-store-products-all .brand-store-product-single, .product-list .all-product-list .product-single {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
        display: block;
        padding-right: 0px
    }

    .about-us-ee .content-about .single-histry-one {
        margin-top: 25px
    }

    .section-title-content h2 {
        font-size: 24px
    }

    .see-all-btn {
        margin-bottom: 20px
    }

    .fruits-section .fruits-products-all .fruits-product-single .fruits-single-img {
        /*height: 100%;*/
        max-height: 400px;
    }

    .banner .carousel-caption {
        bottom: -4px
    }

    .banner .carousel-caption h2 {
        line-height: 22px;
        font-size: 22px;
        margin-bottom: 10px
    }

    .banner .carousel-caption p {
        font-size: 14px;
        line-height: 14px
    }

    .banner .carousel-caption .slide-btn {
        margin-top: 20px
    }

    .banner .carousel-caption .slide-btn a {
        padding: 10px 20px
    }

    .logo-image {
        height: 40px
    }

    .menu-icon {
        height: 20px
    }

    .banner {
        margin-top: 70px
    }

    .navbar-toggler {
        float: left !important;
        z-index: 999
    }

    /*.like-sec .dropdown-menu, .shopping-cart-sec .dropdown-menu, .profile-sec .dropdown-menu, .search-sec .dropdown-menu {
        width: 290px;
        left: -155px;
        top: 45px;
    }*/
    .custom-dropdown {
        position: static !important;
    }

    .custom-dropdown-menu {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        margin-top: 0px !important;
        width: 94vw !important;
        right: -30px;
        top: 54px;
    }
}

.bg-app-primary {
    background: linear-gradient(90deg, #027151 35%, #f50582) fixed no-repeat top right;
}

.add-btn-custom {
    width: 100%;
    display: block;
    color: white !important;
    padding-top: 3px;
    padding-bottom: 1px;
}

.ajax-alert {
    z-index: 1;
    position: fixed;
    width: max-content;
    right: 20px;
}


.cart-count {
    position: absolute;
    margin-top: -5px;
    margin-left: -5px;
}

.cart-count-mobile-dropdown {
    position: unset;
    margin-top: unset;
    margin-left: unset;
}

.wow:first-child {
    visibility: hidden;
}

.product-card {
    max-height: 285px;
}

.product-img-div {

}

.product-image {
    max-height: 160px;
}

.product-image img {
    /*height: -webkit-fill-available;*/
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: rgb(2 113 81) !important;
}

.app-btn {
    border: none;
    background: linear-gradient(
        120deg, #027151 24%, #f50582);
    color: white;
    padding: 8px 20px;
}
